.ScoreGraphItem {
  padding: 0.75rem;
  margin: 1rem;
  max-width: calc(24% - 2rem);
  display: inline-block;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  vertical-align: top;
  cursor: pointer;
}

.ScoreGraphItem:hover {
  border-color: lightblue;
  background: whitesmoke;
}
